streamlit>=1.18.0
spacy>=3.4.0,<3.5.0
spacy-streamlit>=1.0.0rc1, <1.1.0
st-annotated-text
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl

